<div class="container">
  <div class="filters">
    <a class="button">Heads</a>
    <a class="button">Arms</a>
    <a class="button">Torsos</a>
    <a class="button">Bases</a>
    <a class="button">All</a>
  </div>

  <ul class="products">
    <li class="product-item">
      <div class="product">
        <div class="product-details">
          <img src="" alt="" />
          <div class="product-info">
            <div class="name"></div>
            <div class="description"></div>
            <div class="category">Part Type: </div>
          </div>
        </div>
        <div class="price">
          <div></div>
          <button class="cta">Buy</button>
        </div>
      </div>
    </li>
  </ul>
</div>