.container {
  display: flex;
  flex-direction: column;
}

.hero {
  background-repeat: no-repeat;
  height: 300px;
  background-size: cover;
  background-position: center center;
  text-align: center;
  margin-left: -8px;
  margin-right: -8px;
}

.promoted {
  display: flex;
  justify-content: space-between;
  margin: 25px;
  border-top: 2px solid #888;
  border-bottom: 2px solid #888;
  padding: 10px 150px 10px 150px;
}

.promoted img {
  width: 150px;
  height: 150px;
}

.promo-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 40px 0 40px 0;
}

.promo-main-text {
  font-size: 24px;
  text-align: center;
}

.promo-sub-text {
  font-size: 20px;
  text-align: center;
}

.robot-parts-cta {
  display: flex;
  justify-content: space-between;
  margin: 0px 100px 25px 100px;
  padding: 10px 0;
}

.part {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}

.part img {
  width: 180px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #888;
}

.white-paper {
  display: flex;
  height: 100%;
  margin: 0 25px;
}

.white-paper img {
  width: 75%;
}

.white-paper .text {
  display: flex;
  width: 25%;
  flex-direction: column;
  background-color: #333;
  text-align: center;
  justify-content: space-between;
}

.white-paper .header-text {
  margin-top: 50px;
  font-size: 30px;
}

.white-paper .sub-text {
  font-size: 20px;
  color: #5cadd2;
  margin-top: 10px;
  padding: 0 15%;
}

.white-paper .sub-text p {
  margin: 0;
}

.white-paper .large-text {
  border-top: 2px solid #666;
  border-bottom: 2px solid #666;
  margin-top: -50px;
  padding: 20px 0;
  font-size: 35px;
  color: #fff;
}

.white-paper .learn-more {
  background-color: #d25ca1;
  color: white;
  padding: 15px 25px;
  text-decoration: none;
}