<div class="container">
  <div class="filters">
    <a routerLink="/catalog" [queryParams]="{filter: 'Heads'}" class="button">Heads</a>
    <a routerLink="/catalog" [queryParams]="{filter: 'Arms'}" class="button">Arms</a>
    <a routerLink="/catalog" [queryParams]="{filter: 'Torsos'}" class="button">Torsos</a>
    <a routerLink="/catalog" [queryParams]="{filter: 'Bases'}" class="button">Bases</a>
    <a routerLink="/catalog" class="button">All</a>
  </div>

  <ul class="products">
    <li class="product-item" *ngFor="let product of getFilteredProducts()">
      <bot-product-details [product]="product" (buy)="addToCart(product)"></bot-product-details>
    </li>
  </ul>
</div>