<div class="container">
  <div class="filters">
    <a class="button" (click)="filter = 'Heads'">Heads</a>
    <a class="button" (click)="filter = 'Arms'">Arms</a>
    <a class="button" (click)="filter = 'Torsos'">Torsos</a>
    <a class="button" (click)="filter = 'Bases'">Bases</a>
    <a class="button" (click)="filter = ''">All</a>
  </div>

  <ul class="products">
    <li class="product-item" *ngFor="let product of getFilteredProducts()">
      <bot-product-details
        [product]="product"
        (buy)="addToCart(product)"
      ></bot-product-details>
    </li>
  </ul>
</div>
