.bold {
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: column;
}

.filters {
  display: flex;
  justify-content: space-between;
  padding: 25px 200px;
}

.filters button {
  width: 100px;
}

.products {
  margin: 0 100px;
  border-top: 2px solid #999;
}

.product-item {
  border-bottom: 2px solid #999;
}
