.container {
  display: flex;
  justify-content: space-around;
}

.form {
  display: flex;
  padding: 30px 50px 50px 50px;
  flex-direction: column;
  margin-top: 25px;
  border: 1px solid #ddd;
  border-radius: 15px;
}

.control {
  display: flex;
  flex-direction: column;
}

.control {
  margin-top: 25px;
}

.control div {
  font-size: 18px;
}

.control select {
  padding: 15px;
  font-size: 18px;
}

.control input {
  display: inline-block;
}

.header {
  font-size: 30px;
  align-self: center;
  color: #555;
}

.sub-text {
  font-size: 18px;
  align-self: center;
  margin-bottom: 15px;
  color: #444;
}

.form .buttons {
  margin-top: 10px;
  display: inline-flex;
  justify-content: flex-end;
  font-size: 16px;
}

input.error {
  border: 1px solid #d25ca1;
}