<div class="container">
  <form #signInForm="ngForm" class="form" (ngSubmit)="signIn()">
    <img class="logo" src="/assets/images/logo.png" />
    <div class="sign-in">Sign In</div>
    <div class="sub-text">to acquire awesome bots</div>
    <input name="email" required email #email="ngModel" [(ngModel)]="credentials.email" placeholder="Email Address"
      type="text" />
    <em class="error" *ngIf="email.errors?.['required'] && email.touched">Email is required</em>
    <em class="error" *ngIf="email.errors?.['email'] && email.touched">Must be a valid email format</em>
    <input name="password" required #password="ngModel" [(ngModel)]="credentials.password" placeholder="Password"
      type="password" />
    <em class="error" *ngIf="password.invalid && password.touched">Password is required</em>
    <div class="buttons">
      <button type="submit" [disabled]="signInForm.form.invalid" class="button cta">
        Sign In
      </button>
    </div>
    <div class="signInError" *ngIf="signInError">
      Sign-In Failed. Please try again.
    </div>
  </form>
</div>