<div class="container">
  <div class="hero"></div>

  <div class="promoted">
    <img src="/assets/images/robot-parts/head-friendly.png" alt="Friendly Robot Head" />
    <div class="promo-text">
      <div class="promo-main-text">DISPELL THE ROBOT APOCALYPSE MYTH</div>
      <div class="promo-sub-text cta">
        <div>SAVE 20% ON OUR FRIENDLIEST</div>
        <div>ROBOT HEADS</div>
      </div>
    </div>
    <img src="/assets/images/robot-parts/head-big-eye.png" alt="Big Eye Head" />
  </div>

  <ul class="robot-parts-cta">
    <li>
      <a routerLink="/catalog" [queryParams]="{filter: 'Heads'}" class="part">
        <img src="/assets/images/robot-parts/head-shredder.png" alt="Robot Heads" />
        <div>ROBOT HEADS</div>
      </a>
    </li>
    <li>
      <a routerLink="/catalog" [queryParams]="{filter: 'Arms'}" class="part">
        <img src="/assets/images/robot-parts/arm-articulated-claw.png" alt="Robot Arms" />
        <div>ROBOT ARMS</div>
      </a>
    </li>
    <li>
      <a routerLink="/catalog" [queryParams]="{filter: 'Torsos'}" class="part">
        <img src="/assets/images/robot-parts/torso-gauged.png" alt="Robot Torsos" />
        <div>ROBOT TORSOS</div>
      </a>
    </li>
    <li>
      <a routerLink="/catalog" [queryParams]="{filter: 'Bases'}" class="part">
        <img src="/assets/images/robot-parts/base-spring.png" alt="Robot Bases" />
        <div>ROBOT BASES</div>
      </a>
    </li>
  </ul>

  <div class="white-paper">
    <img src="/assets/images/robot-apocalypse.png" alt="Robot Apocalyse" />
    <div class="text">
      <div>
        <div class="header-text cta">Will they kill us all?</div>
        <div class="sub-text">
          <p>10 Myths About the</p>
          <p>Robot Apocalyse</p>
        </div>
      </div>
      <div class="large-text">WHITE PAPER</div>
      <a href="" class="learn-more">Learn More</a>
    </div>
  </div>
</div>